version: "3.9"
services:
  nats:
    image: nats:2.10-alpine
    command: ["-js", "-sd", "/data"]
    ports: ["4222:4222", "8222:8222"]
    volumes: [ "nats-data:/data" ]

  minio:
    image: quay.io/minio/minio:RELEASE.2025-01-14T21-02-23Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    ports: ["9000:9000","9001:9001"]
    volumes: [ "minio-data:/data" ]

  minio-setup:
    image: minio/mc
    depends_on: [minio]
    entrypoint: >
      /bin/sh -c "
      mc alias set local http://minio:9000 minio minio12345 &&
      mc mb -p local/raw &&
      mc mb -p local/landing &&
      mc mb -p local/logs &&
      sleep 1
      "

  mongodb:
    image: mongo:6
    ports: ["27017:27017"]
    volumes: [ "mongo-data:/data/db" ]

  nessie:
    image: ghcr.io/projectnessie/nessie
    environment: { QUARKUS_HTTP_PORT: 19120 }
    ports: ["19120:19120"]

  trino:
    image: trinodb/trino:443
    depends_on: [minio, nessie]
    ports: ["8080:8080"]
    volumes:
      - ./trino/catalog:/etc/trino/catalog

  generators:
    build: ./apps/generators
    depends_on: [nats]
    environment:
      NATS_URL: nats://nats:4222
      PII_ENCRYPT_KEY: "not-a-real-key-change-me"

  processor:
    build: ./apps/processor
    depends_on: [nats, mongodb, minio]
    environment:
      NATS_URL: nats://nats:4222
      MONGO_URL: mongodb://mongodb:27017
      MINIO_ENDPOINT: minio:9000
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio12345
      MINIO_BUCKET: raw
      PII_ENCRYPT_KEY: "not-a-real-key-change-me"
    volumes:
      - ./schemas:/app/schemas

volumes:
  nats-data:
  minio-data:
  mongo-data: